html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #293133;
}

#graph {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

svg {
  background-color: white;
  box-shadow: 3px 3px 20px;
  border-radius: 2px;
}

#tooltip {
  position: absolute;
  text-align: left;
  padding: 5px;
  font-size: 15px;
  font-family: "Lato", sans-serif;
  background: lightgray;
  border-radius: 2px;
  pointer-events: none;
}

.legendSpan {
  width: 90px;
  display: inline-block;
}

#legend {
  width: 10px;
}